sim.axis.gantry/
cnc_plasma_cutter/machine_log*
cnc_plasma_cutter/__pycache__/
cnc_plasma_cutter/save_position.log
cnc_plasma_cutter/launch_plasma.log
cnc_plasma_cutter/*.ini.tmp
cnc_plasma_cutter/*.prehome
cnc_plasma_cutter/*.preyfix
cnc_plasma_cutter/*.prepark
cnc_plasma_cutter/dxf2ngc.log
cnc_plasma_cutter/set_zero_here.log
cnc_plasma_cutter/resume/
cnc_plasma_cutter/cut_recorder.log
cnc_plasma_cutter/resume_cut.log
cnc_plasma_cutter/pick_shape.log
